@media (max-width: 1350px){
    .hotProducts {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media (max-width: 1000px){
    .hotProducts {
        grid-template-columns: repeat(2, 1fr);
    }
    .headerMenu {
        display: none;
    }
    .footerBox {
        grid-template-columns: repeat(3,1fr);
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .zoomedImage .zoomedBox  img {
        max-height: 100vh !important;
    }
    .zoomedImage {
        width: 100% !important;
        height: 90vh;
    }
    .zoomedBox {
        height: 90vh;
    }
}
@media (max-width: 660px){
    body {
        padding: 0;
        margin: 0;
    }
    .hotProducts {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .hotProduct {
        max-width: 95%;
    }

    .textAndDesc {
        transform: scale(.7);
    }
    .textAndDesc * {
        padding: 10px !important;
    }
    .slider {
        height: 400px;
    }
    .footerBox {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 15px;
        padding: 10px !important;
    }
    .footerBox * {
        font-size: 0.6rem;
    }
    .footerBottom {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 auto;
    }
    footer {
        display: flex;
        flex-direction: column;
        padding: 0 0 10px 0 !important;
        gap: 10px;
    }
    .footerBottomLeft * {
        text-align: center;
    }
    .footerBottomLeft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footerBottomLeft .socIcons {
        margin-top: 20px;
    }
    .logoBoxFooter ul {
        margin:0 !important;
    }
}